.profile {
    &_content {
        background-color: #eee;
    }
    &_details {
        &_card {
            border-radius: 160px 160px 10px 10px;
            margin-top: -125px;
            margin-left: 25px;
        }
    }
}